@tailwind base;
@tailwind components;
@tailwind utilities;

.line-bg-light {
  background-image: repeating-linear-gradient(
    45deg,
    theme(colors.white),
    theme(colors.white) 2px,
    theme(colors.slate.100) 2px,
    theme(colors.slate.100) 4px
  );
  background-size: 5.5px 5.5px;
}

.line-bg-med {
  background-image: repeating-linear-gradient(
    45deg,
    theme(colors.white),
    theme(colors.white) 2px,
    theme(colors.slate.200) 2px,
    theme(colors.slate.200) 4px
  );
  background-size: 5.5px 5.5px;
}
